@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* VARIABLES */
:root{
    --colorFondo: beige;
    --colorBotones: #CEFCD5;
    --colorTipografiaBotones: #1F192F;
    --colorDecoraciones: #B5E8C3;
    --textFont: "Lora", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body {
    font-family: var(--textFont);
    background-color: var(--colorFondo);
    margin: 0;
    padding: 0;
    color: black;
    width: 100vw;
    height:auto;
    overflow-x: hidden;
    height: 100%;
    
}


main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    height: 70vh;
    
}

section {
    background-color: var(--colorFondo);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

section h2 {
    background-color: var(--colorDecoraciones);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

section ul li::before {
    content: '➤';
    position: absolute;
    left: 0;
    color: black;
}

/* footer */

footer{
    width: 100%;
    height: 100%;
    display: flex;
}

.rectanguloFooter{
    width: 80%;
    height: 30vh;
    background-color: var(--colorDecoraciones);
    display: grid;
    padding-right: 20%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    border-radius: 0px 200px 0px 0px;
    box-shadow: -7px 7px 4px 11px rgb(101,135,106,1);
}

.rectanguloFooter h3 {
    grid-area: 1 / 1 / 2 / 3; 
    margin-top: 15px;
    margin-left: 30px;
    text-align: center;
}

.infoContacto { 
    margin-top: 10px;
    margin-left: 50px;
    list-style: none;
    grid-area: 2 / 1 / 3 / 2; 
}

.redesSociales { 
    grid-area: 2 / 2 / 3 / 3; 
}

.listaFooter{
    list-style: none;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.listaFooter li{
    display: flex;
    padding: 1%;
    gap: 2%;
}

.bi{
    color: #342854;
    font-size: 1rem;
}

.logo3{
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 2%;
    place-content: center;
    position: 1fr 3fr ;
    bottom: 8%;
    right: 2%;
}

.logoFooter{
    width: 202.92px;
    height: 130px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0);
}

