@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

/* VARIABLES */
:root{
    --colorFondo: beige;
    --colorBotones: #CEFCD5;
    --colorTipografiaBotones: #1F192F;
    --colorDecoraciones: #B5E8C3;
    --textFont: "Lora", serif;
}

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: var(--textFont);
    background-color: var(--colorFondo);
    margin: 0;
    padding: 0;
    color: black;
    width: 100vw;
    height:auto;
    overflow-x: hidden;
    height: 100vh;
    
}

/*-------------------INICIO MAIN------------------*/
main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*padding: 10px; */
    width: 100%;
    height: 70vh;
    background: white;
    
}

section {
    background-color: var(--colorFondo);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}

section h2 {
    background-color: var(--colorDecoraciones);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
    padding-left: 20px;
    position: relative;
}

section ul li::before {
    content: '➤';
    position: absolute;
    left: 0;
    color: black;
}



/*------------INICIO FOOTER------------*/

footer{
    width: 100%;
    height: 35%;
    display: flex;
    position: fixed;
    background: white;
   
}

.rectanguloFooter{
    width: 100%;
    margin-right: 20%;
    background-color: var(--colorDecoraciones);
    display: grid;
    padding-right: 120px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 3fr;
    grid-column-gap: 25px;
    grid-row-gap: 10px;
    border-radius: 0px 200px 0px 0px;
    box-shadow: -7px 7px 4px 11px rgb(101,135,106,1);
}

.rectanguloFooter h3 {
    grid-area: 1 / 1 / 2 / 3; 
    margin-left: 100px;
    text-align: center;
    align-items: center;
}

.infoContacto { 
    margin-top: 10px;
    margin-left: 50px;
    list-style: none;  
    grid-area: 2 / 1 / 3 / 2; 
}

.redesSociales { 
    grid-area: 2 / 2 / 3 / 3; 
}

.listaFooter{
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.listaFooter li{
    display: flex;
    gap: 10px;
}

.bi{
    color: #342854;
    font-size: 19px;
}

.linkRedes{
    text-decoration: none;
    color: black;
}

.linkRedes:hover{
    color: #614f94;
}

.logo3{
    position: absolute;
    bottom: 40%;
    right: 7%;
}

.logoFooter{
    width: 120px;
    height: 80px;
    justify-content: center;
}

@media screen and (min-width: 390px) and (max-width: 490px) {
    /* Estilos para iPhone 12 Pro */
    main {
        flex-direction: column;
    }
    section {
        width: 100%; 
        margin-bottom: 30px;
    }

    footer{
        width: 100%;
        height: 25%;
        display: flex;
        position: fixed;
        margin-top: auto;
    }

    .rectanguloFooter{
        margin-top: 40px;
        height: 120%;
        width: 90%;
        background-color: var(--colorDecoraciones);
        display: grid;
        padding-right: 120px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 3fr;
        grid-column-gap: 25px;
        grid-row-gap: 10px;
        border-radius: 0px 200px 0px 0px;
        box-shadow: -7px 7px 4px 11px rgb(101,135,106,1);
    }

    .rectanguloFooter h3 {
        grid-area: 1 / 1 / 2 / 3; 
        margin: auto;
       margin-right: 30px;
        align-items: center;
        padding-right: 10%;
    
    }

    .infoContacto { 
        margin: auto;
        list-style: none;  
        grid-area: 2 / 1 / 3 / 2; 
        text-align: left;
        flex-direction: column;
        padding-right: 0px;
        
    }

    .listaFooter{
        align-items: left;
        justify-content: left;
        display: flex;
        flex-direction: column;
        padding-right: -50px;
    }

    .logoFooter{
        width: 80px;
        height: 60px;
        justify-items: end;

    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

}


@media screen and (min-width: 500px) and (max-width: 1024px) {
    /* Estilos para iPad Pro */

    main {
        width: 100%;
        height: 40%;
        justify-content: space-between ;  
    }
    section {
        width: 100%;
        height: 50%; 
        align-items: center;
    }

    footer{
        margin: 0;
        width: 100%;
        height: 60%;
        display: flex;
        position: absolute;
    }
    .logo3{
        position: fixed;
        bottom: 25%;
        right: 3%;
    }

    .logoFooter{
        width: 120px;
        height: 90px;
        justify-content: center;
    }


}

